API:
  API_URL: "http://127.0.0.1:8080"
  API_TYPE: "REST"
  API_USERNAME: "user"
  API_PASSWORD: "password"
  REQUEST_TIMEOUT: 10

BOT:
  PLATFORM: "KokomiBot-Bate"
  LOG_LEVEL: "debug"
  USE_MOCK: true
  RETURN_PIC_TYPE: "png"
  SHOW_DOG_TAG: true
  SHOW_CLAN_TAG: false
  SHOW_CUSTOM_TAG: true
  BOT_INFO: "Kokomi Platform  |  WoWS-Stats-Bot"
  ROOT_USERS: ["1"]
  ADMINS_USERS: ["1"]

